<<<<<<< HEAD
.card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card2{
    display: flex;
    justify-content: center;
    align-items: center;
    border: black 1px solid;
    width: 540px;
    background-color:aliceblue;
}
.size{
    width: 300px;
    margin-right: 260px;
}

.state{
padding-left: 150px;
}
.font3{
    text-transform: capitalize;
=======
.card2{
display: flex;
padding-top: 50px;

max-width: 540px;
justify-content: center !important;
align-items: center;
}
.image{
    padding-top: 100px;
>>>>>>> 0bf054e67603d233d3cb901dda6fbb29f157f342
}